<div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> HR Social</h2>
                        
                    </div>            
                    
                </div>
            </div>

            

   
            
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Facebook Recent Post</h2>
                        </div>
                        
                        <div class="body">
                            
                            <hr>
							<ul class="right_chat list-unstyled mb-0">
                                <div class="fb-page" data-href="https://www.facebook.com/KairosTechInc/" data-tabs="timeline" data-width="450" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KairosTechInc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KairosTechInc/">KairosTechInc</a></blockquote></div>                     
                            </ul>                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Twitter Feed</h2>
                        </div>
                        <div class="body">
                            <hr>
                            <ul class="right_chat list-unstyled mb-0" >
                                <a class="twitter-timeline" href="https://twitter.com/KairosTechInc?ref_src=twsrc%5Etfw">Tweets by KairosTechInc</a> 
                    
                            </ul>                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>