<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Teams</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item"><a [routerLink]="['/teams-list']">Teams</a> </li>
                        <li class="breadcrumb-item active">Team Add</li>
                    </ul>
                </div>            
                <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                    
                   
                </div>
            </div>
        </div>

        <div class="row clearfix card">
            <div class="col-lg-12 ">
                <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit(teamForm.value)">
                   <div class="modal-body">
                     <div class="row clearfix">
            <div class="col-md-12 ">
            <mat-form-field class="col-md-8">
            <input matInput placeholder="Team Name" formControlName="team_name"
                    [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!teamForm.get('team_name').valid && teamForm.get('team_name').touched">Required</span>
            </mat-error>
            </mat-form-field>
            
			<mat-form-field class="col-md-8">
                               <mat-label>Select Team Type</mat-label>
                               <mat-select formControlName="team_type" [(ngModel)]="team_type" placeholder="Select Team Type" [errorStateMatcher]="matcher">
                                 <mat-option *ngFor="let team of teams" [value]="team.value">{{team.viewValue}}</mat-option>
                               </mat-select>
                        <mat-error>
                          <span *ngIf="!teamForm.get('team_type').valid && teamForm.get('team_type').touched">Required</span>
                        </mat-error>
                    </mat-form-field>
			
			

            <mat-form-field class="col-md-8">
                <input matInput placeholder="Head of Team" formControlName="team_head_name"
                    [errorStateMatcher]="matcher" (input)="suggest_carrier($event.target.value)" [matAutocomplete]="autoc">
                <mat-autocomplete #autoc="matAutocomplete" [displayWith]="displayFn" [multiple]="true">
                  <mat-option *ngFor="let c of carrier_Result" [value]="c">
                    {{c.employee_name}}

                    
                  </mat-option>
                </mat-autocomplete>
                <mat-error>
                    <span *ngIf="!teamForm.get('team_head_name').valid && teamForm.get('team_head_name').touched">Required</span>
                  </mat-error>
              </mat-form-field>
    
           <div class="button-row" class="col-md-8">
					
                        <label>Upload Photo</label>
					
                        {{imageError}}
						
                        <div class="custom-file fileInputProfileWrap">
						<div class="img-space">
            
                                <ng-container *ngIf="isImageSaved; else elseTemplate">
                                    <img width="100px"  [src]="cardImageBase64" />
                                </ng-container>
                                <ng-template #elseTemplate>
            
                                    <img width="100px" src="./../../assets/images/sample-pic.png" class="img-responsive">
                                </ng-template>
            
                            </div>
						
                            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                            
            
                        </div>
						
                        <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                      </div>
    
    
              {{Message}}
              <div class="col-md-8">
              <button type="submit" [disabled]="!teamForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>    
                            </div>
                         
                        </div>
                    </div>

                    </form>
            </div>
        </div>
    </div>
</div>
