   <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Activities</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Activities</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="timeline-item green">
                                <span class="date">Just now</span>
                                <h5>Add New Task</h5>
                                <p>Web by far While that's mock-ups and this is politics Lorem card.</p>
                                <ul class="list-unstyled team-info">
                                    <li><img src="assets/images/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" data-original-title="Bernardo Galaviz"></li>                                    
                                    <li><img src="assets/images/avatar5.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" data-original-title="Mike Litorus"></li>
                                </ul>
                            </div>        
                            <div class="timeline-item warning">
                                <span class="date">6 mins ago</span>
                                <h6>Lucid Admin Code Upload on Github</h6>
                                <span>By: <a href="javascript:void(0);" title="">Jessica Doe</a></span>
                                <div class="msg">
                                    <p>web by far While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.</p>
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <i class="fa fa-warning"></i> I am getting an error when trying to push to github. It will not let me push
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item danger">
                                <span class="date">15 mins ago</span>
                                <h6>Assigning a project team</h6>
                                <span>Team Leader: <a href="javascript:void(0);" title="">Jessica Doe</a></span>
                                <div class="msg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                    
                                    <ul class="list-unstyled team-info">
                                        <li class="m-r-15"><small class="text-muted">Team</small></li>
                                        <li><img src="assets/images/avatar4.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" data-original-title="Chris Fox"></li>
                                        <li><img src="assets/images/avatar5.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" data-original-title="Joge Lucky"></li>
                                        <li><img src="assets/images/avatar6.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" data-original-title="Isabella"></li>
                                        <li><img src="assets/images/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" data-original-title="Jeffrey Warden"></li>
                                    </ul>
                                </div>
                            </div>        
                            <div class="timeline-item danger">
                                <span class="date">1 day ago</span>
                                <h6>Send email to all Employee salary slip</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                            </div>
                            <div class="timeline-item dark pb-0">
                                <span class="date">16 June, 2018</span>
                                <h6>Id-Ul-Fitr Function in Office</h6>
                                <span><a href="javascript:void(0);" title="">Katherine Lumaad</a> Oakland, CA</span>
                                <div class="msg">
                                    <div id="aniimated-thumbnials" class="row clearfix">
                                        <div class="col-lg-2 col-md-3 col-6 m-b-30"><a href="assets/images/1.jpg"><img class="img-fluid img-thumbnail" src="assets/images/1.jpg" alt=""></a></div>
                                        <div class="col-lg-2 col-md-3 col-6 m-b-30"><a href="assets/images/2.jpg"><img class="img-fluid img-thumbnail" src="assets/images/2.jpg" alt=""></a></div>
                                        <div class="col-lg-2 col-md-3 col-6 m-b-30"><a href="assets/images/3.jpg"><img class="img-fluid img-thumbnail" src="assets/images/3.jpg" alt=""></a></div>
                                        <div class="col-lg-2 col-md-3 col-6 m-b-30"><a href="assets/images/4.jpg"><img class="img-fluid img-thumbnail" src="assets/images/4.jpg" alt=""></a></div>
                                        <div class="col-lg-2 col-md-3 col-6 m-b-30"><a href="assets/images/5.jpg"><img class="img-fluid img-thumbnail" src="assets/images/5.jpg" alt=""></a></div>
                                        <div class="col-lg-2 col-md-3 col-6 m-b-30"><a href="assets/images/6.jpg"><img class="img-fluid img-thumbnail" src="assets/images/6.jpg" alt=""></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 